.workout-card-container {
    padding: 30px;
}

.card-title {
    font-size: 30px;
    color: white;
    font-weight: 500;
   
}

.exercises-container > p {
    font-size: 18px;
    color: white;
    font-weight: 500;
    justify-self: center;
    margin-top: 5px;
}

.card-body > p {
    color: black;
}

.card-body > h5 {
    color: black;
}

.settings-image {
    height: 25px;
}

.card-header {
    justify-content: space-between;
    display: flex;
}

.workout-title {
    color: black;
}