.derek {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.derek-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 80vh;
}

.send-chat-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 6vh; /* Adjust this value to change the input's distance from the bottom */
    left: 0;
    right: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #424549;
}

.chat-input {
    width: 70%;
    height: fit-content;
}
