.workouts-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
}

.tab-nav {
    display: flex;
    justify-content: center;
}

.current-tab {
    background-color: greenyellow;
}
