.week-header {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: #37293E;
    color: #fff;
    padding: 7px;
    font-weight: 500;
    padding-bottom: 0px;
  }

  .day-icon {
    font-size: large;
  }

  .current-day-icon {
    font-size: large;
    color: greenyellow;
  }