.navbar {
    background-color: #100F0F;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: -16px; /* Overlapping with the line */
  }

  .nav-line {
    border-top: 2px solid rgb(172, 255, 48);
  }

  .nav-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden; /* Clear any potential floats */
  }